* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #f6c640, #f3737c);
  gap: 1em;
  height: 5em;
}

@media (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    text-align: center;
    background-image: linear-gradient(to bottom, #f6c640, #f3737c);
    height: 5em;
    place-items: center;
  }
}

/*
header {
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  text-align: center;
  background-image: linear-gradient(to bottom, #f6c640, #f3737c);
  height: 5em;
  place-items: center;
}
@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    
  }
}
*/
body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #f6c640, #f3737c);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
  font-size: 2em;
  color: white;
}
@media (min-width: 768px) {
  .title {
    font-size: 3em;
  }
}
main {
  max-width: 80%;
  margin: 0 auto;
}

button:hover {
  background-image: linear-gradient(to bottom, #1c39bb, #0b1337);
}

.product-container {
  border: 1px solid #f3737c;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 2em;
  background-color: white;
}

.item-container {
  margin: 2em;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1em;
  padding: 1em;
  place-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .item-container {
    grid-template-columns: 1fr 1fr 30% 1fr 1fr;
  }
}

.item-container h1 {
  font-size: 1.2em;
  color: crimson;
  border: 1px solid black;
  border-radius: 5%;
  padding: 0.2em 0.5em;
}
.item-container h2 {
  font-size: 1.2em;
  color: crimson;
}

.item-container p {
  font-style: italic;
}

.item-container img {
  width: 6em;
}

.item-container button {
  background-color: #1c39bb;
  color: white;
  border: none;
  padding: 0.5em;
  border-radius: 5%;
  cursor: pointer;
}

.info-container {
  max-width: 30%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  text-align: center;
}

.info-container > h1 {
  padding: 1em;
}

.cart {
  width: 1.5em;
}

.cart-container {
  display: grid;
  gap: 0.5em;
  place-items: center;
}
.cart-container button {
  background-color: #1c39bb;
  color: white;
  border: none;
  padding: 0.5em;
  border-radius: 5%;
  cursor: pointer;
  font-size: 0.7em;
}

.cart-page-container h1 {
  color: #eb3e3e;
  border: 1px solid black;
  border-radius: 5%;
  padding: 0.2em 0.5em;
}

.cart-container article {
  position: relative;
}

.img-span-container {
  display: grid;
  grid-template-columns: 1fr 1px;
}

.img-span-container span {
  background: #eb3e3e;
  color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.list {
  width: 2.5em;
  cursor: pointer;
  z-index: 3;
}

.background {
  background-color: #07030a;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  opacity: 0;
  transition: all 0.6s;
  display: flex;
  justify-content: space-between;
}

.open {
  height: 100%;
  width: 100%;
  opacity: 0.8;
}
@media (min-width: 768px) {
  .open {
    height: 100%;
    width: 50%;
    opacity: 0.8;
  }
}

.close {
  height: 0;
  width: 0;
  opacity: 0;
}

.closer-svg {
  width: 3em;
  height: 3em;
  cursor: pointer;
  margin: 2em;
}

nav {
  padding-left: 10em;
  padding-top: 5em;
}

.background a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  position: relative;
}

.background a:hover {
  font-size: 1.6em;
  color: lightsteelblue;
}

.background a::after {
  content: "";
  color: white;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  rotate: 45deg;
  top: 40%;
}

.background li {
  padding: 1em;
}

.cart-page {
  border: 1px solid #f3737c;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 2em;
  background-color: white;
}

.cart-page-container {
  display: flex;
  justify-content: space-between;
  padding-inline: 1em;
  align-items: center;
  border: 2px solid crimson;
  margin: 2em;
  background-color: white;
  gap: 2em;
  height: 10em;
}

@media (min-width: 768px) {
  .cart-page {
    border: 1px solid #f3737c;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 2em;
    background-color: white;
    max-height: 45em;
    overflow-y: scroll;
  }
}

.cart-page-container img {
  width: 6em;
}

.cart-page-container p {
  font-size: 1.2em;
  font-weight: 700;
  border: 1px solid black;
  padding: 0.5em;
}

.cart-page-container button {
  margin-left: auto;
}

.riepilogo {
  text-align: center;
  padding-top: 1em;
  color: crimson;
}

.bottom-cart {
  display: grid;
  justify-content: end;
  gap: 1em;
  place-items: center;
}

.bottom-cart button {
  padding: 1em;
  border-radius: 5%;
  border: none;
  background-color: #1c39bb;
  color: white;
  cursor: pointer;
}

.bottom-cart p {
  padding-top: 1em;
  font-size: 1.2em;
  font-weight: 700;
}

.quantity-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: end;
  gap: 4px;
}

.quantity-container svg {
  transform: scale(1.2);
  cursor: pointer;
}

.quantity-container p {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: center;
}

.plus {
  justify-self: center;
  margin-bottom: 0.2em;
}

.minus {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: start;
  justify-self: center;
  margin-top: 0.2em;
}

.quantity-container button {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  color: white;
  background-color: #eb3e3e;
  width: 5em;
  cursor: pointer;
  border: none;
  padding: 0.3em;
  border-radius: 5%;
}
.quantity-container button:hover {
  background-image: linear-gradient(to bottom, #eb3e3e, #3f0f0f);
}
svg:hover {
  background-color: #2196f3;
}

.addtocart-container {
  display: grid;
  gap: 1em;
  place-items: center;
}

.addtocart-container input {
  width: 3em;
  height: 2em;
}
